.btn {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    background-color: #ffffff;
    color: #ac7048;
    padding: 0.5em;
    text-decoration: none;
    transition: 0.5s;
    margin: 1em;
    border: solid;
    border-color: rgb(190, 58, 74);
    box-shadow: 2px 2px rgba(190, 58, 73, 0.76);
    border-radius: 15px;
    font-size: 30px;
    font-weight: 500;

   
}
.btn span{
    text-align: center;
}
.btn:hover{
    color: #ffbb33;
}